@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Animation: fades in, slides in right to left */
.card {
    font-family: Open Sans, sans-serif;
    font-size: 12pt;
    background-color: white;
    color: darkslategrey;
    padding: 10px;
    margin-bottom: 10px;
    /* width: 100%; */
    /* height: 150px; */
}

li {
    list-style-type: none;
}

strong {
    font-family: Roboto Slab, serif;
}

.statusBar {
    stroke: black;
    stroke-width: 2px;
}
.statusType {
    width: 132px;
}

table {
    margin-left: -2px;
}