@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

.homeSearchForm {
    display: flex;
    justify-content: center;
}

.homeSearchForm label {
    font-family: Roboto Slab, serif;
    font-size: 16pt;
    display: block;
    animation: rise 1s;
}

.homeSearchForm {
    display: flex; 
    align-items: center;
}

.homeSearchForm input {
    background-color: white;
    border: 0px;
    font-size: 18pt;
    padding: 5px;
    width: 600px;
    height: 40px;
    margin-top: 5px;
    margin-right: 7px;
    animation: rise 1s;
    animation-delay: 200;
    animation-fill-mode: backwards; 
}

.homeSearchForm input::placeholder {
    padding-left: 5px;
}

.homeSearchForm .submitButton {
    border: 0px;
    background: rgb(28, 46, 122);
    color: white;
    margin-top: 33px;
    width: 50px;
    height: 40px;
    animation: rise 1s;
    animation-delay: 200;
    animation-fill-mode: backwards; 
}
.homeSearchForm .submitButton:hover {
    background-color: #eb4715;
    text-decoration: none;
} 
.homeSearchForm img {
    margin: 2px auto auto auto;
}

.clicked {
    animation: reposition 1s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fadeOut 1s;
}

@keyframes reposition {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-480px) translateY(-250px);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}