@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

.homePage {
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 30px;
    font-family: Roboto Slab, serif;
}

.learnMoreButton {
    background-color: lightgray;
    font-family: Open Sans, serif;
    border: none;
    margin-left: 20px;
    padding: 5px 10px;
    height: 35px;
}
.learnMoreButton:hover {
    background-color: lightblue;
    color: white;
}

/* .hidden {
    display: none;
} */
.about {
    font-family: Open Sans, serif;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h1 {
    font-size: 45pt;
}
h2 {
    font-family: Roboto Slab, serif;
}