@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(241, 241, 241);
  color: rgb(36, 42, 44);
}

.svgLogo {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -1;
  top: 50px;
  margin-left: 2%;
  margin-right: auto;
  animation: expand 1s;
}
.cls-1 {
  fill: #f9461c;
}
.cls-2 {
  fill: #fff;
}
.cls-3 {
  fill: #fc3;
}
.cls-4 {
  font-size: 72px;
  fill: #336;
  font-family: HiraKakuStd-W8-83pv-RKSJ-H, Hiragino Kaku Gothic Std;
}
.cls-5 {
  fill: #73bdb2;
}
.cls-10,
.cls-13,
.cls-6 {
  fill: none;
}
.cls-6,
.cls-9 {
  stroke: #000;
}
.cls-10,
.cls-13,
.cls-6,
.cls-9 {
  stroke-miterlimit: 10;
}
.cls-7 {
  fill: #4f9995;
}
.cls-8 {
  fill: #033;
}
.cls-11,
.cls-9 {
  fill: #003;
}
.cls-10 {
  stroke: #ce9a28;
}
.cls-12 {
  fill: #6cc;
}
.cls-13 {
  stroke: #366;
}

.homePage {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.welcomeScreen {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-family: Roboto Slab, serif;
  font-size: 50pt;
}

.welcomeScreen h1 {
  font-size: 58pt;
  color: #336;
  letter-spacing: 2px;
  -webkit-animation: expand 1s;
  animation: expand 1s;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 0px;
  font-size: 32pt;
  line-height: 38pt;
  letter-spacing: 1px;
}

.infobox {
  margin-right: auto;
  padding: 100px 100px 100px 100px;
  animation: rise 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}


.intro {
  background-color: #73bdb2;
  color: white;
  font-family: Open Sans, serif;
  font-size: 18pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 350px;
  height: 650px;
}
.intro-img {
  object-fit: contain;
  width: 45%;
}
.intro-text {
  width: 50%;
}

.about {
  background-color: #eb4715;
  color: rgb(28, 28, 87);
  font-family: Open Sans, serif;
  font-size: 22pt;
}


@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  33% {
    transform: scale(1.3, 1.3) rotate(-2deg);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  66% {
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.fade-exit {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

h2 {
  font-family: Roboto Slab, serif;
}

@media screen and (max-width: 768px) and (min-width: 376px){
  .intro {
    margin-top: 275px;
    display: flex;
    align-items: center;
  }

  .infobox {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 375px) {
  .svgLogo {
    height: 300px;
  }
  .welcomeScreen h1 {
    font-size: 36pt;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .info {
    margin-top: 100px;
  }
  h2 {
    font-size: 20pt;
    line-height: 27pt;
  }
  p {
    font-size: 16pt;
  }
  .infobox {
    padding: 20px;
  }
  .intro-img {
    width: 100%;
  }
  .intro-text {
    width: 100%;
  }
}