@keyframes fade-in{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

.marker {
    animation: fade-in 1s;
    color: black;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    stroke: black;
    stroke-width: 2px;
}

.userLocation {
    color: black;
}

.userPin {
    fill: rgb(100, 11, 117);
}

.notBusy {
  fill: #4fc05e;
}
.aLittleBusy {
  fill: #fc3;
}
.reallyBusy {
  fill: #f9461c;
}
.unavailable {
  fill: grey;
}


.selected {
  fill: #336;
}

.jump {
    animation: jump 2s;
}

@keyframes jump {
    15% {
      transform: translateY(-15px) scale(0.9, 1.1)
    } 
    30% {
      transform: translateY(0px) scale(1, 0.85)
    }
    50% {
      transform: translateY(-5px) scale(1, 1.00)
    }
    70% {
      transform: translateY(0px) scale(1, 0.95)
    }
    80% {
      transform: translateY(0px) scale(1, 1)
    }
  }