.results {
    display: flex;
    margin-top: 20px;
}

.googleMap {
    position: sticky;
    flex-basis: 60%;
    padding: 0px 1%;
}

.listResults {
    height: 100vh;
    overflow-y: auto;
    width: 39%;
}

ul {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

@media screen and (max-width: 375px) {
    .results {
        margin-top: 10px;
    }
    .googleMap {
        display: none;
    }
}