@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1 {
    font-family: Roboto Slab, serif;
    font-size: 20pt;
}

.homeLink {
    width: 5%;
    margin-right: 12px;
}

header {
    background-color: #73bdb2;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}