@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

.searchForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchForm label {
    font-family: Roboto Slab, serif;
    font-size: 14pt;
    display: block;
}

.searchForm input {
    background-color: white;
    border: 0px;
    font-size: 14pt;
    margin-right: 7px;
    padding: 5px;
    width: 400px;
    height: 30px;
    margin-top: 5px;
}

input::placeholder {
    padding-left: 5px;
}

.searchForm .submitButton {
    border: 0px;
    background: rgb(28, 46, 122);
    color: white;
    margin-top: 30px;
    width: 40px;
    height: 30px;
}
.searchForm .submitButton:hover {
    background-color: #eb4715;
    text-decoration: none;
} 
.searchForm img {
    margin: 3px auto auto auto;
}

.clicked {
    animation: reposition 1s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fadeOut 1s;
}

@keyframes reposition {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-480px) translateY(-250px);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 375px) {
    .searchForm label {
        font-size: 14pt;
    }
    .searchForm input {
        font-size: 16pt;
        width: 350px;
        margin-right: 0px;
    }
    .searchForm input::placeholder {
        padding-left: 2px;
    }
    .searchForm {
        margin-bottom: 10px;
    }
    .searchForm .submitButton {  
        width: 350px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 376px){
    .searchForm input {
        width: 330px;
    }
}